.spacer {
  flex: 1 1 auto;
}

.link-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.toolbar {
  background: linear-gradient(90deg, rgba(219,159,167,1) 4%, rgba(249,169,164,1) 67%);
}

.img-logo{
  width: 150px;
  height: auto;
}

#example-header-image {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.ng-star-inserted {
  max-height: 40px;
}

.header-image {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
}

.img-header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
}

.mat-card-avatar {
  height: none;
}
