<div class="container">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="form-container">
    <div class="title">
      <h1 class="titulo"><strong>Cadastro</strong></h1>
        <h2 class="titulo"><strong>Seja bem-vindo(a)</strong></h2>
    </div>
    <div class="form-wrapper">
      <mat-stepper orientation="vertical" #stepper>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel>Nome</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Seu nome" formControlName="nome" required />
              <mat-error *ngIf="signupForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel>Seu Endereço</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Endereço</mat-label>
              <input matInput formControlName="nick" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel>Seu Titulo</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Seu título</mat-label>
              <input matInput placeholder="Ex: Apreciador de cuscuz" formControlName="nick" required />
              <mat-error *ngIf="signupForm.get('nick')?.errors?.['required']">Campo obrigatório</mat-error>
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel> Email</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Seu email" formControlName="email" required />
              <mat-error *ngIf="signupForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
              <mat-error *ngIf="signupForm.get('email')?.errors?.['email']">Email inválido</mat-error>
              <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel> Senha</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="Sua senha" formControlName="senha" [type]="hide ? 'password' : 'text'"
                required />
              <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>

              <mat-error *ngIf="signupForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
              <mat-error *ngIf="signupForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres
              </mat-error>
              <mat-icon matPrefix>key</mat-icon>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="signupForm">
            <ng-template matStepLabel> Confirme a sua Senha</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Confirmar senha</mat-label>
              <input matInput placeholder="Confirmar senha" formControlName="confirma_senha" type="password" />
              <mat-icon matPrefix>key</mat-icon>
            </mat-form-field>
            <span class="mat-error"
              *ngIf="signupForm.errors?.['matchPasswords'] && signupForm.get('confirma_senha')?.touched">
              As senhas não correspondem
            </span>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Termos de Privacidade</ng-template>

            <button mat-stroked-button color="primary" (click)="onClickDialogTermosDePrivacidade()"><strong>Termos de
                uso</strong></button> <br>
            <mat-checkbox formControlName="checkbox">Concordo com os Termos de Privacidade. </mat-checkbox>

            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Proximo</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <ngx-recaptcha2 #captchaElem 
              [siteKey]="siteKey" 
              [size]="size" 
              [hl]="lang"
              [theme]="theme" 
              [type]="type" 
              formControlName="recaptcha">
              </ngx-recaptcha2>
          </div>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="signupForm.invalid">
              Cadastrar
            </button>
            
           
              </mat-step>
        </form>

      </mat-stepper>
      <span>ou</span>
      <button (click)="onClickDialogProvedores()" type="button" mat-raised-button color="warn">Entrar com provedores</button>
    </div>
  </div>

</div>
