<footer>
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Outros Serviços</a></li>
        <li><a href="#">Politica de Privacidade</a></li>
        <li><a href="#">Termos & Condições</a></li>
        <li><a href="#">Carreira</a></li>
      </ul>
    </div>

    <div class="row">
     Copyright © 2022 Diario de Viagens - All rights reserved || Designed By: Diario de Viagens
    </div>
  </div>
</footer>
